<%- include ('../includes/admin/header') %>

<body class="hold-transition dark-mode sidebar-mini ">
  

    <div class="wrapper">

      <%- include ('../includes/admin/nav') %>


          <div class="content-wrapper" >

            <div class="content-header">
                <div class="container-fluid">
                  <div class="row mb-2">
                    <div class="col-sm-6">
                      <h1 class="m-0">Hello <strong><i><%= user %> </i></strong></h1>
                    </div><!-- /.col -->
                   
                  </div><!-- /.row -->
                </div><!-- /.container-fluid -->
              </div>

              <section class="content">
                <div class="container-fluid">
                  <!-- Info boxes -->
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                      <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Total number of voters</span>
                          <span class="info-box-number">
                            10
                            <small>%</small>
                          </span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-sm-6 col-md-3">
                      <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Number of Votes</span>
                          <span class="info-box-number">41,410</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
          
                    <!-- fix for small devices only -->
                    <div class="clearfix hidden-md-up"></div>
          
                    <div class="col-12 col-sm-6 col-md-3">
                      <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Sales</span>
                          <span class="info-box-number">760</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-sm-6 col-md-3">
                      <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Registered Voters</span>
                          <span class="info-box-number">2,000</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
          
                 
                  <!-- /.row -->
          
                  <!-- Main row -->
                  <div class="row">
                    <!-- Left col -->
                    <div class="col-md-8">
                      <!-- MAP & BOX PANE -->
                      <div class="card">
                        
                        <!-- /.card-header -->
                      
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                      <div class="row">
                        
                        <!-- /.col -->
          
                      
                        <!-- /.col -->
                        
                      </div>
                      <!-- /.row -->
          
                      <!-- TABLE: LATEST ORDERS -->
                      <div class="card ">
                        <div class="card-header border-transparent">
                          <h3 class="card-title">Latest Users</h3>
          
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                          <div class="table-responsive">
                            <table class="table m-0">
                              <thead>
                              <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>status</th>
                              </tr>
                              </thead>

                              <tbody>
                                <% users.forEach(users => {%>
                              <tr>
                                <td><%= users.id %></td>
                                <td><%= users.name %></td>
                                <td><%= users.email %></td>
                                <td><%= users.phone_number %></td>
                                <td><%= users.status %></td>
                                
                              </tr>
                           <% })%>
                             
                              
                              
                              </tbody>
                            </table>
                          </div>
                          <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                          <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Add New User</a>
                          <a href="/userHome" class="btn btn-sm btn-secondary float-right">View All Users</a>
                        </div>
                        <!-- /.card-footer -->
                      </div>
                      <!-- /.card -->
                    </div>
                    <!-- /.col -->
          
                    <div class="col-md-4">
                      <!-- Info Boxes Style 2 -->
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Presedential Election</h3>
          
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>

                        
                            <!-- <tr>
                              <td><%= users.id %></td>
                              <td><%= users.name %></td>
                              <td><%= users.email %></td>
                              <td><%= users.phone_number %></td>
                              <td><%= users.status %></td>
                              
                            </tr> -->
                       






                        <!-- /.card-header -->
                        <div class="card-body p-0">
                          <ul class="products-list product-list-in-card pl-2 pr-2">
                            <% contestants.forEach(contestants => {%>
                            <li class="item">
                              <div class="product-img">
                                <img src="dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                              </div>
                              <div class="product-info">
                                <a href="javascript:void(0)" class="product-title"><%= contestants.name %>
                                  <span class="badge badge-warning float-right"><%= contestants.votes %></span></a>
                                <span class="product-description">
                                    <%= contestants.party %>
                                </span>
                              </div>
                            </li>
                            <!-- /.item -->
                            <% })%>
                          </ul>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-center">
                          <a href="/conHome" class="uppercase">View All Contestants</a>
                        </div>
                        <!-- /.card-footer -->
                      </div>
                      <!-- /.info-box -->
                     
                     
                      
                      <!-- /.info-box -->
          
                      <div class="card">
                        
                        <!-- /.card-header -->
                        
                        <!-- /.card-body -->
                       
                        <!-- /.footer -->
                      </div>
                      <!-- /.card -->
          
                      <!-- PRODUCT LIST -->
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">House_of_senate Election</h3>
          
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>

                        
                            <!-- <tr>
                              <td><%= users.id %></td>
                              <td><%= users.name %></td>
                              <td><%= users.email %></td>
                              <td><%= users.phone_number %></td>
                              <td><%= users.status %></td>
                              
                            </tr> -->
                       






                        <!-- /.card-header -->
                        <div class="card-body p-0">
                          <ul class="products-list product-list-in-card pl-2 pr-2">
                            <% senate.forEach(senate => {%>
                            <li class="item">
                              <div class="product-img">
                                <img src="dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                              </div>
                              <div class="product-info">
                                <a href="javascript:void(0)" class="product-title"><%= senate.name %>
                                  <span class="badge badge-warning float-right"><%= senate.votes %></span></a>
                                <span class="product-description">
                                    <%= senate.party %>
                                </span>
                              </div>
                            </li>
                            <!-- /.item -->
                            <% })%>
                          </ul>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-center">
                          <a href="/senHome" class="uppercase">View All Contestants</a>
                        </div>
                        <!-- /.card-footer -->
                      </div>
                      <!-- /.card -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div><!--/. container-fluid -->
              </section>















        </div>
    <div>
      

         






    <%- include ('../includes/admin/footer') %>
</body>