<%- include ('includes/user/header') %>
<body>
    <%- include ('includes/user/nav') %>
    <div class="container-fluid">
      <h3>Welcome <strong><i><%= user %> </i></strong></h3>
      <b>status: <i><%= stat %> </i></b>
        <div class="card col-12 " >
            <div class="card-header " >
              <h3 class="card-title">Presedential Election</h3>

             


              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="row">
            <% contestants.forEach(contestants => {%>
            <div class="col-md-3 p-4">
                <!-- Widget: user widget style 1 -->
                <div class="card card-widget widget-user">
                  <!-- Add the bg color to the header using any of the bg-* classes -->
                  <div class="widget-user-header bg-info">
                    <h3 class="widget-user-username"><%= contestants.name%></h3>
                    <h5 class="widget-user-desc"><%= contestants.party%></h5>
                  </div>
                  <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
                  </div>
                  <div class="card-footer">
                    <div class="row">
                      <div class="col-sm-4 border-right">
                        <div class="description-block">
                          <h5 class="description-header"></h5>
                          <span class="description-text"></span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4 border-right">
                        <div class="description-block">
                          <h5 class="description-header"><%= contestants.votes%></h5>
                          <span class="description-text">VOTES</span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4">
                        <div class="description-block">
                          <h5 class="description-header"></h5>
                          <span class="description-text"></span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </div>
                </div>
                <!-- /.widget-user -->
              </div>
              <% })%>
            </div>
            <!-- /.card-body -->
            <!-- /.footer -->
          </div>


          <div class="card col-12" >
            <div class="card-header " >
              <h3 class="card-title text-center">House of Senate Election</h3>

             


              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="row d-flex justify-content-center">
            <% senate.forEach(senate => {%>
            <div class="col-md-3 p-4">
                <!-- Widget: user widget style 1 -->
                <div class="card card-widget widget-user">
                  <!-- Add the bg color to the header using any of the bg-* classes -->
                  <div class="widget-user-header bg-info">
                    <h3 class="widget-user-username"><%= senate.name%></h3>
                    <h5 class="widget-user-desc"><%= senate.party%></h5>
                  </div>
                  <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
                  </div>
                  <div class="card-footer">
                    <div class="row">
                      <div class="col-sm-4 border-right">
                        <div class="description-block">
                          <h5 class="description-header"></h5>
                          <span class="description-text"></span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4 border-right">
                        <div class="description-block">
                          <h5 class="description-header"><%= senate.votes%></h5>
                          <span class="description-text">VOTES</span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4">
                        <div class="description-block">
                          <h5 class="description-header"></h5>
                          <span class="description-text"></span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </div>
                </div>
                <!-- /.widget-user -->
              </div>
              <% })%>
            </div>
            <!-- /.card-body -->
            <!-- /.footer -->
          </div>
    </div>





    
           
   
         
      <%- include ('includes/admin/footer') %>
</body>