<%- include ('../../includes/admin/header') %>

<body class="hold-transition sidebar-mini ">
  

    <div class="wrapper">

      <%- include ('../../includes/admin/nav') %>
       

     

          <div class="content-wrapper" >
          <section class="content-header  ">
            <div class="container-fluid" style="display: flex; justify-content: center; ">
            
                <div class="col-md-4">
                  <!-- general form elements -->
                  <div class="card card-primary">
                    <div class="card-header ">
                      <h3 class="card-title ">Update Senators</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="/updateSen" method="post">
                      <input type="hidden" name="id" value="<%= senators.id %>">
                      <div style="display: flex; align-items: center;" >

                       <div class="card-body">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="<%= senators.name %>">
                        </div>
                        <div class="form-group">
                          <label for="image">Image</label>
                          <input type="text" name="image" class="form-control" id="exampleInputPassword1" placeholder="image" value="<%= senators.image %>">
                        </div>
                        <div class="form-group">
                          <label for="party">Party</label>
                          <input type="text"  name="party" class="form-control" id="exampleInputPassword1" placeholder="party" value="<%= senators.party %>">
                        </div>
                        <div class="form-group">
                          <label for="logo">Logo</label>
                          <input type="text" name="logo" class="form-control" id="exampleInputPassword1" placeholder="logo" value="<%= senators.logo %>">
                        </div>
                        <div class="form-group">
                          <label for="state_of_origin">State of Origin</label>
                          <input type="text" name="state_of_origin" class="form-control" id="exampleInputPassword1" placeholder="state_of_origin" value="<%= senators.stateofOrigin %>">
                        </div>
                        <div class="form-group">
                          <label for="lga">Local Government Area</label>
                          <input type="text" name="lga" class="form-control" id="exampleInputPassword1" placeholder="lga" value="<%= senators.lga %>">
                        </div>
                       
                   
                      
                      </div>


                              
                     
                      

                    </div>
      
                      <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>

                     
                    </form>
                  </div>
                  <!-- /.card -->
      
      
                </div>
             
            </div>
          </section>
        </div>
    <div>
      

         






    <%- include ('../../includes/admin/footer') %>
</body>